@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;

}

body{
    background-color: var(--Dark-Blue);
}

.container{
    background-color: var(--Dark-Grayish-Blue);
    min-height: 100px;
    text-align: center;
    border-radius: 5%;
    margin: 25% 5px;
}

#advice_id{
    color: var(--Neon-Green);
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 400;
    padding-top: 40px 
}

#advice_text{
    font-size: 28px;
    color: var(--Light-Cyan);
    font-weight: 800;  
    padding: 0 5px;
}

.button_sort{
    background-color: var(--Neon-Green);
    border-radius: 50%;
    text-align: center;
    width: 65px;
    height: 65px;
    border: none;
    transform: translateY(30px);
}
.button_sort:hover{
    box-shadow: 2px 2px 12px 10px rgba(51, 249, 91, 0.4);
    background-color: hsl(150, 89%, 71%);;
}

.button_sort img{
    transform: translateY(2.5px);
}

@media (min-width: 1000px) {
    .container{
        width: 500px;
        margin: 10% auto;
    }

    #advice_text{
        padding: 0px 30px
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
